body {
  margin: 0;
  font-family: Arial; src: url('../font/aee74cb3-c913-4b54-9722-6001c92325f2.ttf');
  height: 100%;
  background-image: url('https://static.wixstatic.com/media/41d000_81435491eaed42d8861e4225cb9e6ad7.jpg/v1/fill/w_1903,h_933,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_81435491eaed42d8861e4225cb9e6ad7.jpg');
  background-attachment: fixed;
}

h1 {
  font-size: 4rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: myFirstFont;
}

footer-section.p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.image-wrapper {
  background-color: #FFF;
  padding: 0.5rem;
  border-radius: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

nav {
  margin-top: 1rem;
  background-color: #EEE8D8;
  border-radius: 40px;
  padding: 1rem 2rem;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

ul.navbar li {
  margin: 0 1rem;
}

ul.navbar a{
  color: black !important;
  font-family: mySecondFont !important;
  font-size: 15px;
}

@font-face {
  font-family: mySecondFont;
  src: url(../font/03805817-4611-4dbc-8c65-0f73031c3973.ttf);
}

ul.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

ul.navbar a:hover {
  color: #ccc;
}

.bottom-section .text {
  flex: 1;
  color: #292929;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 49px;
  font-family: myFirstFont;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/aee74cb3-c913-4b54-9722-6001c92325f2.ttf);
}

.bottom-section form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom-section h2 {
  font-family: myFirstFont;
  font-size: 24px;
  color:#292929;
  text-align: center;
}

.bottom-section h3 {
  font-family: myFirstFont;
  font-size: 18px;
  color:#373B4D;
  text-align: center;
}

.bottom-section h4 {
  font-family: myFirstFont;
  font-size: 10px;
  color: red;
  text-align: center;
}

.bottom-section input {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.bottom-section input::placeholder {
  color: black;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  width: 50%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.button-grid a{
  width: 80%;
  border-radius: 50px;
  height: 45%;
  margin-bottom: 50px;
  padding-top: 30px;
  font-family: mySecondFont;
  font-size: 14px;
}

.grid-btn {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #EEE8D8;
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  border-radius: 12px;
}

.grid-btn:hover {
  background-color: #45a049;
}


footer {
  background-color: transparent;
  color: black;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.footer-section h4 {
  margin-bottom: 0.5rem;
  font-family: myThirdFont;
}

.footer-section p {
  text-align: center;
  font-family: myThirdFont;
}

.footer-copyright {
  margin-top: 1rem;
}

.column {
  float: left;
}

.left {
  width: 25%;
}

@font-face {
  font-family: myThirdFont;
  src: url(../font/VuJ2dNDF2Yv9qppOePKYRP12ZjtYlUndpA.ttf);
}


.right {
  width: 75%;
}

.menu {
  height: 900px;
  margin: 20px;
  border: 2px solid;
  background-color: #96968f93;
}
