body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url('https://static.wixstatic.com/media/41d000_81435491eaed42d8861e4225cb9e6ad7.jpg/v1/fill/w_1903,h_933,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/41d000_81435491eaed42d8861e4225cb9e6ad7.jpg');
  }

h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

p {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
  }